<%= render "header" %>

<div id="outer_center">

    <div id="inner_center">

      <%= render "table_headers" %>
      <%= render "organism_table_filter" %>

      <div class="ex_table" id="example-table" ></div>
    </div>
</div>

<div id="getModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
<!--       <span class="close">&times;</span> -->
      <h2>Paste this rules to "Set rules" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="get_rules" class="rules"></textarea>
      <button id="btn_get_as_file" class="btn btn-success" data-target="basic">Get as file</button>
    </div>

  </div>

</div>


<div id="setModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
<!--       <span class="close">&times;</span> -->
      <h2>Insert rules from "Get rules" box</h2>
    </div>
    <div class="modal-body">
      <textarea id="set_rules" class="rules"></textarea>
        <div class="btn-group">
        <button id="btn_set_rules" class="btn btn-success" data-target="basic">Set</button>
        <input type="file" id="btn_set_rules_from_file" class="btn btn-warning" />
        </div>
    </div>
  </div>

</div>

<!--         <ul class="nav nav-tabs tabs-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#organism_settings" role="tab">Organisms table settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" data-toggle="tab" href="#organisms" role="tab">Organisms table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#genes" role="tab">Genes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#other" role="tab">Other</a>
          </li>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="organism_settings" role="tabpanel">
              <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="show_headers">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Show/hide table columns
                      </a>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="show_headers">
                    <div class="card-block">
                      <%= render "table_headers" %> 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="show_headers">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion" href="#org_filter" aria-expanded="true" aria-controls="org_filter">
                        Table filters
                      </a>
                    </h5>
                  </div>
                  <div id="org_filter" class="collapse show" role="tabpanel" aria-labelledby="show_headers">
                    <div class="card-block">
                      <div class="dropdown">
                        <%= render "organism_table_filter" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active " id="organisms" role="tabpanel">
              <div class="ex_table" id="example-table" ></div>
              <div class="btn-group column_headers" data-toggle="buttons">
                <button id="load_button" data-toggle="tooltip" data-placement="top" title="Download table as CSV" type="button" class="btn btn-secondary">Download table</button>
                <button id="clear_filter" data-toggle="tooltip" data-placement="top" title="Clear all table filters" type="button" class="btn btn-secondary">Clear filters</button>
              </div>
            </div>

            <div class="tab-pane" id="genes" role="tabpanel">
              <div id="selected_organisms_names"></div>
            </div>
        </div>
    </div>
<div> -->